footer
    .container
        .row.align-items-baseline
            .col-md-6.col-lg-3
                a.p-0(href="#")
                    img(src="images/logo.svg" class="logo-footer" alt="logo")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor erat est neque lorem nunc. Ultrices purus ip

            .col-md-6.col-lg-3
                h4 Developers
                a(href="#") Quick Start
                a(href="#") Documentation
                a(href="#") F.A.Q
                a(href="#") Licensing

            .col-md-6.col-lg-3
                h4 Community
                a(href="#") GitHub
                a(href="#") Slack
                a(href="#") Twitter
                a(href="#") Code of Conduct

            .col-md-6.col-lg-3
                h4 Company
                a(href="#") About Us
                a(href="#") Support
                a(href="#") Contact
