nav.navbar.navbar-expand-lg
    .container
        a.navbar-brand(href='#') 
            img(src="images/logo.svg" alt="logo")
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            .navbar-icon
            .navbar-icon
            .navbar-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.align-items-center
                li.nav-item.active
                    a.nav-link(href='#')
                        | Documentation                                    
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Tutorials
                li.nav-item
                    a.nav-link(href='#') FAQ
                li.nav-item
                    a.nav-link(href='#') Support
                li.nav-item
                    a.nav-link(href='#')  See us on GitHub
                li.nav-item
                    a.nav-link.btn.btn-outline-light(href='#') Quick Start
